<my-nav></my-nav>
<section id="listPost">
	<div class="container">
		<div class="row">
			<div class="col s11 offset-s1">
				<h2 class="blue-grey-text darken-3">Modifié l'article</h2>
			</div>
		</div>
		<div class="row">
			<div class="col s4 offset-s1">
				<a class="blue-grey-text darken-3" href="posts.html">Retourner à la liste des actualités</a>
			</div>
		</div>
	</div>
	<div class="container mgt50">
		<div class="row">
			<div class="col s11 offset-s1">
				<form>
					<div class="input-field">
						<div class="file-field input-field">
							<div class="btn">
								<span>Image</span>
								<input type="file">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Modification de l'image">
							</div>
						</div>
					</div>
					<div class="input-field">
						<input class="validate" id="post_title" placeholder="Titre de l'article" type="text" value="Titre de l'article">
						<label for="post_title">Titre de l'article</label>
					</div>
					<div class="input-field">
						<textarea placeholder="Contenu de l'article" id="post_text" class="materialize-textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam soluta totam qui eveniet, est, voluptatum quibusdam delectus quo eaque nesciunt vitae cupiditate ducimus nemo, facere beatae iure. Dolorem, nostrum excepturi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit fugit est quisquam error. Quaerat aliquam maiores ut repellat, debitis in? Sunt natus ratione, vel deleniti dignissimos fugiat consectetur possimus nobis.</textarea>
  						<label for="textarea">Contenu de l'article</label>
					</div>
					<div class="row">
                        <div class="col s4 mgt50">
                            <button class="btn waves-effect waves-light">Sauvegarder les modifications
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
				</form>
			</div>
		</div>
	</div>
</section>