<my-nav></my-nav>
<section id="listPost">
	<div class="container">
		<div class="row">
			<div class="col s11 offset-s1">
				<h2 class="blue-grey-text darken-3">Modifié l'article</h2>
			</div>
		</div>
		<div class="row">
			<div class="col s4 offset-s1">
				<a class="blue-grey-text darken-3" href="posts.html">Retourner à la liste des actualités</a>
			</div>
		</div>
	</div>
	<div class="container mgt50">
		<div class="row">
			<div class="col s11 offset-s1">
				<form>
					<div class="input-field">
						<input class="validate" id="post_title" type="text" ng-model="postUpdate.post.title">
						<label for="post_title">Titre de l'article</label>
					</div>
					<div class="input-field">
						<textarea placeholder="Contenu de l'article" id="post_text" ng-model="postUpdate.post.content" class="materialize-textarea"></textarea>
  						<label for="textarea">Contenu de l'article</label>
					</div>
					<div class="row">
                        <div class="col s4 mgt50">
                            <button class="btn waves-effect waves-light" ng-click="postUpdate.update();">Sauvegarder les modifications
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
				</form>
			</div>
		</div>
	</div>
</section>
