html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Fonts */
@font-face {
  font-family: 'ADAM_CGPRO';
  src: url(/fonts/ADAM_CGPRO.woff2?2afd8f6d8b527093193269cedcae1100) format('woff2');
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url(/fonts/BebasNeueRegular.woff2?62059534a8c937d86501b91d3fda0f9d) format('woff2');
}
/* Global CSS */
body {
  font-family: arial;
}
/* ========== Header ========== */
.main-header {
  margin-bottom: 60px;
}
.main-header .first-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eeeeee;
  padding: 20px;
}
.main-header .first-nav .social-link {
  float: right;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 50px;
}
.main-header .first-nav .social-link li {
  display: inline-block;
}
.main-header .first-nav .social-link li .fa {
  color: #393E46;
  font-size: 30px;
  margin: 0 5px;
}
.main-header .first-nav .button-like {
  vertical-align: middle;
}
.main-header .first-nav .button-connect {
  float: right;
  color: #393E46;
  font-size: 14px;
  font-family: "ADAM_CGPRO";
}
.main-header .first-nav .button-connect .fa {
  font-size: 30px;
  color: #393E46;
  margin-right: 5px;
}
.main-header .banniere {
  background: url(/images/banniere.jpg?997c51972d7ffc61013484481a3405b7) no-repeat 0% 40%;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 0;
}
.main-header .banniere .site-title {
  text-align: center;
  font-family: "BebasNeueRegular";
  letter-spacing: 2px;
  font-size: 30px;
  color: #eeeeee;
}
.main-header .second-nav {
  padding: 0 80px;
  background: #eeeeee;
}
.main-header .second-nav .menu-list {
  display: inline-block;
  text-align: center;
}
.main-header .second-nav .menu-list li {
  padding: 26px 24px;
  display: inline-block;
}
.main-header .second-nav .menu-list li a {
  color: #393E46;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: "ADAM_CGPRO";
}
.main-header .second-nav .menu-list li:hover {
  background: #393E46;
}
.main-header .second-nav .menu-list li:hover a {
  color: #eeeeee;
}
.main-header .second-nav .search-box {
  float: right;
  display: inline-block;
  margin-top: 16px;
}
.main-header .second-nav .search-box .fa {
  font-size: 25px;
  color: #393E46;
}
.main-header .second-nav .search-box input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #393E46;
  outline: none;
  color: #393E46;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}
.main-header .second-nav .search-box ::-webkit-input-placeholder {
  color: #393E46;
}
.main-header .second-nav .search-box :-moz-placeholder {
  /* Firefox 18- */
  color: #393E46;
}
.main-header .second-nav .search-box ::-moz-placeholder {
  /* Firefox 19+ */
  color: #393E46;
}
.main-header .second-nav .search-box :-ms-input-placeholder {
  color: #393E46;
}
.main-header:after {
  content: "";
  display: table;
  clear: both;
}
/* ========== Footer ========== */
.main-footer {
  background: #eeeeee;
  padding: 15px;
}
.main-footer ul {
  text-align: center;
}
.main-footer ul li {
  display: inline-block;
  margin: 15px 25px;
}
.main-footer p {
  text-align: center;
}
/* ========== Accueil ========== */
.main-content-accueil {
  margin: 0 auto;
  width: 95%;
}
.main-content-accueil .colonne-centrale {
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 2% 30px 2%;
}
.main-content-accueil .colonne-centrale .actualite {
  width: 65%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 1%;
  background: #eeeeee;
  padding: 15px;
  border-radius: 2px;
}
.main-content-accueil .colonne-centrale .actualite h2 {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.main-content-accueil .colonne-centrale .actualite .image {
  width: 100%;
  margin-bottom: 15px;
}
.main-content-accueil .colonne-centrale .actualite .texte {
  color: #222831;
  margin-left: 5px;
  line-height: 18px;
}
.main-content-accueil .colonne-centrale .actualite .lien {
  text-align: right;
  color: #00ADB5;
  float: right;
  margin-right: 5px;
}
.main-content-accueil .colonne-centrale .actualite .auteur {
  margin-top: 30px;
}
.main-content-accueil .colonne-centrale .fil-actu {
  width: 29%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 1%;
  background: #eeeeee;
  padding: 15px;
  border-radius: 2px;
  max-height: 665px;
  overflow-x: hidden;
}
.main-content-accueil .colonne-centrale .fil-actu .actu {
  margin: 25px;
}
.main-content-accueil .colonne-centrale .fil-actu .actu h2 {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.main-content-accueil .colonne-centrale .fil-actu .actu .image {
  width: 100%;
  margin-bottom: 15px;
}
.main-content-accueil .colonne-centrale .fil-actu .actu .texte {
  color: #222831;
  margin-left: 5px;
  line-height: 18px;
  margin-bottom: 10px;
}
.main-content-accueil .colonne-centrale .fil-actu .actu .lien {
  text-align: right;
  color: #00ADB5;
  margin-left: 5px;
}
.main-content-accueil .sidebar {
  width: 32%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 30px 2%;
  background: #eeeeee;
}
.main-content-accueil .sidebar .fil-twitter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  max-height: 600px;
  overflow-x: hidden;
}
.main-content-accueil .sidebar .contenu-supp {
  padding: 25px;
}
.main-content-accueil .sidebar .contenu-supp .titre {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.main-content-accueil .sidebar .contenu-supp li > a {
  font-size: 18px;
  font-style: italic;
  color: #00ADB5;
}
.main-content-accueil .sidebar .twitter h2 {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  text-align: center;
}
.main-content-accueil .sidebar .twitter h2 .fa-twitter {
  margin: 0 5px;
}
/* ========== Actualités ========== */
.main-content-actualites {
  margin: 0 auto;
  width: 100%;
}
.main-content-actualites .colonne-centrale {
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 2% 30px 2%;
}
.main-content-actualites .colonne-centrale .underline {
  width: 100px;
  height: 2px;
  color: #00ADB5;
  margin: 0 auto;
}
.main-content-actualites .colonne-centrale .actualite {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 1%;
  background: #eeeeee;
  padding: 15px;
  border-radius: 2px;
}
.main-content-actualites .colonne-centrale .actualite .img {
  display: inline-block;
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-content-actualites .colonne-centrale .actualite .img .image {
  width: 100%;
}
.main-content-actualites .colonne-centrale .actualite .desc {
  display: inline-block;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  margin: 2.5%;
}
.main-content-actualites .colonne-centrale .actualite .desc h2 {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.main-content-actualites .colonne-centrale .actualite .desc .texte {
  color: #222831;
  margin-left: 5px;
  line-height: 18px;
}
.main-content-actualites .colonne-centrale .actualite .desc .lien {
  text-align: right;
  color: #00ADB5;
  float: right;
  margin-right: 5px;
}
.main-content-actualites .colonne-centrale .actualite .desc .auteur {
  margin-top: 30px;
}
.main-content-actualites .sidebar {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 30px 2%;
  background: #eeeeee;
}
.main-content-actualites .sidebar .fil-twitter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  max-height: 900px;
  overflow-x: hidden;
}
/* ========== Actu ========== */
.main-content-actu .actualite {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  margin: 0 auto;
  background: #eeeeee;
}
.main-content-actu .actualite .img {
  display: inline-block;
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 1.5%;
  border-right: 3px dotted #00ADB5;
  margin-bottom: 30px;
}
.main-content-actu .actualite .img .image {
  width: 100%;
}
.main-content-actu .actualite .desc {
  width: 55%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding-left: 1.25%;
  margin-bottom: 30px;
}
.main-content-actu .actualite .desc h2 {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.main-content-actu .actualite .desc .image {
  width: 100%;
  margin-bottom: 15px;
}
.main-content-actu .actualite .desc .texte {
  color: #222831;
  line-height: 18px;
  margin-bottom: 15px;
}
.main-content-actu .actualite .desc .auteur {
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-family: "BebasNeueRegular";
}
.main-content-actu .actualite .desc .auteur span {
  color: #00ADB5;
  font-weight: bold;
}
.main-content-actu .actualite .desc .date {
  font-size: 18px;
}
.main-content-actu .actualite .zone-com {
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
.main-content-actu .actualite .zone-com .nb-com {
  font-size: 20px;
  margin-bottom: 10px;
}
.main-content-actu .actualite .zone-com .nb-com .fa {
  font-size: 25px;
  vertical-align: bottom;
}
.main-content-actu .actualite .zone-com .commentaires .com {
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
}
.main-content-actu .actualite .zone-com .commentaires .com .avatar {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 15%;
  margin-bottom: 25px;
}
.main-content-actu .actualite .zone-com .commentaires .com .avatar img {
  width: 100%;
}
.main-content-actu .actualite .zone-com .commentaires .com .content-com {
  width: 74%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  margin: 0 5% 25px 5%;
}
.main-content-actu .actualite .zone-com .commentaires .com .content-com .auteur {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.main-content-actu .actualite .zone-com .commentaires .com .content-com .auteur span {
  color: #00ADB5;
  font-family: "BebasNeueRegular";
  font-size: 22px;
  letter-spacing: 1.5px;
}
.main-content-actu .actualite .zone-com .commentaires .com .content-com .heure {
  font-style: italic;
  margin-bottom: 15px;
}
.main-content-actu .actualite .zone-com .commentaires .com .content-com .texte {
  line-height: 18px;
  margin-bottom: 20px;
}
.main-content-actu .actualite .zone-com .commentaires .com .content-com .rep-com {
  float: right;
  color: #00ADB5;
  font-style: italic;
}
/* ========== Mentions Légales ========== */
.main-mentions {
  margin: 0 auto;
  padding: 0 80px;
  margin-bottom: 60px;
}
.main-mentions div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  background: #eeeeee;
}
.main-mentions div h2 {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.main-mentions div h3 {
  font-family: "BebasNeueRegular";
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}
.main-mentions div p {
  font-size: 15px;
  margin-bottom: 30px;
}
/* ========== Lycée ========== */
.main-lycee {
  margin: 0 auto;
  margin-bottom: 60px;
  margin-left: 2%;
}
.main-lycee .content {
  display: inline-block;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  background: #eeeeee;
}
.main-lycee .content h2 {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.main-lycee .content li {
  font-size: 14px;
  line-height: 18px;
}
.main-lycee .content .second-list {
  margin: 10px 0;
}
.main-lycee .content .second-list li {
  margin-left: 20px;
}
.main-lycee .sidebar {
  width: 35%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 30px 2.5%;
  background: #eeeeee;
}
.main-lycee .sidebar .fil-twitter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  max-height: 600px;
  overflow-x: hidden;
}
.main-lycee .sidebar .contenu-supp {
  padding: 25px;
}
.main-lycee .sidebar .contenu-supp .titre {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.main-lycee .sidebar .contenu-supp li > a {
  font-size: 18px;
  font-style: italic;
  color: #00ADB5;
}
.main-lycee .sidebar .twitter h2 {
  font-family: "BebasNeueRegular";
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  text-align: center;
}
.main-lycee .sidebar .twitter h2 .fa-twitter {
  margin: 0 5px;
}
