<my-nav></my-nav>
<section id="listQcm">
    <div class="container">
        <div class="row">
            <div class="col s11 offset-s1">
                <h2 class="blue-grey-text darken-3">Liste des fiches</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s11 offset-s1">
                <div class="fixed-action-btn horizontal" ng-show="qcmAll.isTeacher">
                    <a class="btn-floating btn-large red" href="/platform/qcm/create">
                        <i class="large material-icons">add</i>
                    </a>
                </div>
                <div class="input-field col s3 offset-s9">
                    <i class="material-icons prefix grey-text lighten-2">search</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Search...</label>
                </div>
                <table class="bordered centered responsive-table">
                    <thead>
                        <tr>
                            <th>Titre de la fiche</th>
                            <th>Nombre de questions</th>
                            <th ng-if="qcmAll.isTeacher">Attribution</th>
                            <th ng-if="!qcmAll.isTeacher">Note</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <div id="modal1" class="modal whi-yel-text">
                        <div class="modal-content red darken-2">
                            <h4>ATTENTION !</h4>
                            <p>Souhaitez-vous vraiment supprimé cette fiche ? Cette action sera irréversible.</p>
                        </div>
                        <div class="modal-footer red darken-4">
                            <a href="#!" ng-click="qcmAll.delete();" class="whi-yel-text modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            <a href="#!" class="whi-yel-text modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
                        </div>
                    </div>
                    <tbody>
                        <tr ng-repeat="(index, qcm) in qcmAll.datas" ng-if="qcm.isOkforStudent || qcmAll.isTeacher">
                            <td>[{qcm.title}]</td>
                            <td>[{qcm.nbQuestion}]</td>
                            <td ng-if="qcmAll.isTeacher">[{qcm.class_level == 'first_class' ? 'Première' : 'Terminale'}]</td>
                            <td ng-if="!qcmAll.isTeacher">[{qcm.note ? qcm.note + '%' : ''}]</td>
                            <td>
                                <div ng-show="qcmAll.isTeacher" class="switch myswitch">
                                    <label>
                                        Publish
                                        <input type="checkbox" ng-checked="qcm.published" ng-click="qcmAll.changeStatus(index)">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                                <a ng-hide="qcmAll.isTeacher" ng-class="{disabled: qcm.disabled}" data-position="top" data-delay="50" data-tooltip="Remplir le QCM" class="btn-floating green tooltipped" href="/platform/qcm/one/[{qcm.id}]"><i class="material-icons">subject</i></a>
                                <a ng-show="qcmAll.isTeacher" data-position="top" data-delay="50" data-tooltip="Preview" class="btn-floating blue tooltipped" href="/platform/qcm/one/[{qcm.id}]"><i class="material-icons">remove_red_eye</i></a>
                                <a ng-show="qcmAll.isTeacher" data-position="top" data-delay="50" data-tooltip="Edit" class="btn-floating yellow darken-2 tooltipped" href="/platform/qcm/update/[{qcm.id}]"><i class="material-icons">edit</i></a>
                                <a ng-show="qcmAll.isTeacher" data-position="top" data-delay="50" data-tooltip="Delete" class="btn-floating red delete-btn tooltipped" ng-click="qcmAll.deleteQcm(index)"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr ng-if="qcmAll.loadError">
                            <td></td>
                            <td>[{qcmAll.loadError}]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col s11 offset-s1">
                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active blue-grey darken-3"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
