<my-nav></my-nav>
<section id="addQcm">
    <div class="container">
        <div class="row">
            <div class="col s11 offset-s1">
                <h2 class="blue-grey-text darken-3">Ajout de QCM</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s1">
                <a class="blue-grey-text darken-3" href="/platform/qcm/all">Retourner à la liste des fiches</a>
            </div>
        </div>
    </div>
    <div class="container mgt50">
        <form>
            <div class="row">
                <div class="col s9 offset-s1">
                    <h4 class="myblue-text flow-text">Créer un Qcm</h4>
                    <p class='red-text' ng-show="qcmCreate.addQcmError">[{qcmCreate.addQcmError}]</p>
                    <div class="input-field">
                        <input placeholder="Intitulé" id="qcm_title" type="text" class="validate" ng-model="qcmCreate.qcm.title">
                        <label for="qcm_title">Titre du QCM</label>
                    </div>
                    <div class="input-field">
                        <select ng-model="qcmCreate.qcm.class_level" name="class_level">
                            <option value="" disabled selected>Choisissez la classe</option>
                            <option value="first_class">Première</option>
                            <option value="final_class">Terminale</option>
                            <!-- ng-options="option.value as option.name for option in qcmCreate.selectOptions" -->
                        </select>
                        <label>Attribué à </label>
                    </div>
                </div>
                <div class="col s9 offset-s1">
                    <ul class="collapsible" data-collapsible="accordion" ng-repeat="(index, question) in qcmCreate.qcm.questions">
                        <li>
                            <div class="collapsible-header blue-grey-text darken-3">
                                <a href="#" data-position="top" data-delay="50" data-tooltip="Supprimer" class="red-text darken-5 tooltipped">
                                    <i class="tiny material-icons">delete</i>
                                </a>
                                <i class="tiny material-icons">reorder</i>
                                    Question #[{index + 1}]

                            </div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    <input placeholder="Placeholder" id="question" type="text" class="validate" ng-model="question.question_title">
                                    <label for="question">Intitulé de la question</label>
                                </div>
                                <ul class="collapsible" data-collapsible="accordion" ng-repeat="(choiceIndex, choice) in question.choices">
                                    <li>
                                        <div class="collapsible-header blue-grey-text darken-3">
                                            <a href="#" data-position="top" data-delay="50" data-tooltip="Supprimer" class="red-text darken-5 tooltipped">
                                                <i class="tiny material-icons">delete</i>
                                            </a>
                                            <i class="tiny material-icons">reorder</i>
                                                Choix #[{choiceIndex + 1}]
                                        </div>
                                        <div class="collapsible-body">
                                            <div class="input-field col s6">
                                                <input placeholder="Placeholder" id="choice_content[{choiceIndex + '_' + index}]" type="text" class="validate" ng-model="choice.content">
                                                <label for="choice_content[{choiceIndex + '_' + index}]">Choix</label>
                                            </div>
                                            <p>
                                                <input type="checkbox" id="valid[{choiceIndex + '_' + index}]" ng-model="choice.valid"/>
                                                <label for="valid[{choiceIndex + '_' + index}]">Réponse valide</label>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <p><a class="right btn-floating btn-large waves-effect waves-light blue-grey darken-3" ng-click="qcmCreate.addChoice(index);"><i class="material-icons">add</i></a></p>
                            </div>
                        </li>
                    </ul>
                    <p><a class="right btn-floating btn-large waves-effect waves-light blue-grey darken-3" ng-click="qcmCreate.addQuestion();"><i class="material-icons">add</i></a></p>
                </div>
            </div>
            <div class="row">
                <div class="col s4 offset-s1">
                    <button class="blue-grey darken-3 btn waves-effect waves-light" ng-click="qcmCreate.create();" name="action">Sauvegarder
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
