<my-nav></my-nav>
<section id="updateQcm">
    <div class="container">
        <div class="row">
            <div class="col s11 offset-s1">
                <h2 class="blue-grey-text darken-3">Modifié la fiche</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s1">
                <a class="blue-grey-text darken-3" href="/platform/qcm/all">Retourner à la liste des fiches</a>
            </div>
        </div>
    </div>
    <div class="container mgt50">
        <div class="row">
            <div class="col s11 offset-s1">
                <form>
                    <div class="input-field col s6">
                        <input id="qcm_title" type="text" class="validate" ng-model="qcmUpdate.datas.qcm.title">
                        <label for="qcm_title" class="active">Titre de la fiche</label>
                    </div>
                    <div class="input-field col s6">
                        <select ng-model="qcmUpdate.datas.qcm.class_level">
                            <option value="first_class">Première</option>
                            <option value="final_class">Terminale</option>
                        </select>
                        <label>Attribué à </label>
                    </div>
                    <div class="col s12">
                        <h4 class="blue-grey-text darken-3">Questions :</h4>
                        <div class="col s9 offset-s1">
                            <ul class="collapsible" data-collapsible="accordion" ng-repeat="(index, question) in qcmUpdate.datas.qcm.questions">
                                <li>
                                    <div class="collapsible-header blue-grey-text darken-3">
                                        <a href="#" ng-click="qcmUpdate.deleteItem(index);" class="red-text darken-5">
                                            <i class="tiny material-icons">delete</i>
                                        </a>
                                        <i class="tiny material-icons">reorder</i>
                                            Question #[{index + 1}]

                                    </div>
                                    <div class="collapsible-body">
                                        <div class="input-field">
                                            <input placeholder="Placeholder" id="question_[{index}]" type="text" class="validate" ng-model="question.question">
                                            <label for="question_[{index}]" class="active">Intitulé de la question</label>
                                        </div>
                                        <ul class="collapsible" data-collapsible="accordion" ng-repeat="(choiceIndex, choice) in question.choices">
                                            <li>
                                                <div class="collapsible-header blue-grey-text darken-3">
                                                    <a href="#" ng-click="qcmUpdate.deleteItem(index, choiceIndex);" class="red-text darken-5">
                                                        <i class="tiny material-icons">delete</i>
                                                    </a>
                                                    <i class="tiny material-icons">reorder</i>
                                                        Choix #[{choiceIndex + 1}]
                                                </div>
                                                <div class="collapsible-body">
                                                    <div class="input-field col s6">
                                                        <input placeholder="Placeholder" id="choice_content[{choiceIndex + '_' + index}]" type="text" class="validate" ng-model="choice.content">
                                                        <label for="choice_content[{choiceIndex + '_' + index}]" class="active">Choix</label>
                                                    </div>
                                                    <p>
                                                        <input type="checkbox" id="valid[{choiceIndex + '_' + index}]" ng-model="choice.valid"/>
                                                        <label for="valid[{choiceIndex + '_' + index}]">Réponse valide</label>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <p><a class="right btn-floating btn-large waves-effect waves-light blue-grey darken-3" ng-click="qcmUpdate.addChoice(index);"><i class="material-icons">add</i></a></p>
                                    </div>
                                </li>
                            </ul>
                            <p><a class="right btn-floating btn-large waves-effect waves-light blue-grey darken-3" ng-click="qcmUpdate.addQuestion();"><i class="material-icons">add</i></a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 mgt50">
                            <button class="btn waves-effect waves-light">Sauvegarder les modifications
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
