<my-nav></my-nav>
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col xl11 offset-xl1 l12 m12 s12 center-align">
                <h2 class="blue-grey-text darken-3">Dashboard</h2>
            </div>
        </div>
    </div>
    <div class="container mgt50" ng-show="home.isTeacher">
        <div class="row">
            <div class="col xl3 offset-xl1 l12 m12 s12 center-align blue-grey-text darken-3">
                <h1>[{home.datas.nbQcm}]</h1>
                <h3>Fiches</h3>
            </div>
            <div class="col xl3 offset-xl1 l12 m12 s12 center-align myblue-text">
                <h1>[{home.datas.nbComment}]</h1>
                <h3>Commentaires</h3>
            </div>
            <div class="col xl3 offset-xl1 l12 m12 s12 center-align mygreen-text">
                <h1>[{home.datas.nbUser}]</h1>
                <h3>Elevès</h3>
            </div>
        </div>
        <div class="row" ng-show="home.isTeacher">
            <div class="col s3 offset-s1">
                <div class="card blue-grey darken-1">
                    <div class="card-content whi-yel-text">
                        <span class="card-title">Fiches</span>
                        <ul>
                            <li class="row">
                                <a href="listQcm.html" class="whi-yel-text"><div class="col s10">
                                    <p>Titre de la fiche : QMC</p>
                                </div></a>
                                <div class="col s2 right-align">
                                    <p class="status green"></p>
                                </div>
                            </li>
                            <li class="row">
                                <a href="listQcm.html" class="whi-yel-text"><div class="col s10">
                                    <p>Titre de la fiche blablabla</p>
                                </div></a>
                                <div class="col s2 right-align">
                                    <p class="status green"></p>
                                </div>
                            </li>
                            <li class="row">
                                <a href="listQcm.html" class="whi-yel-text"><div class="col s10">
                                    <p>Titre de la fiche de terminale</p>
                                </div></a>
                                <div class="col s2 right-align">
                                    <p class="status red"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action blue-grey darken-3">
                        <a href="/platform/qcm/all">Voir toutes les fiches</a>
                    </div>
                </div>
            </div>
            <div class="col s3 offset-s1">
                <div class="card blue-grey darken-1">
                    <div class="card-content whi-yel-text">
                        <span class="card-title">Articles</span>
                        <ul>
                            <li class="row">
                                <a href="listQcm.html" class="whi-yel-text"><div class="col s10">
                                    <p>Lycee portes ouvertes</p>
                                </div></a>
                                <div class="col s2 right-align">
                                    <p class="status green"></p>
                                </div>
                            </li>
                            <li class="row">
                                <a href="listQcm.html" class="whi-yel-text"><div class="col s10">
                                    <p>Interview ancien élève</p>
                                </div></a>
                                <div class="col s2 right-align">
                                    <p class="status red"></p>
                                </div>
                            </li>
                            <li class="row">
                                <a href="listQcm.html" class="whi-yel-text"><div class="col s10">
                                    <p>La journée mondiale des étudiants</p>
                                </div></a>
                                <div class="col s2 right-align">
                                    <p class="status red"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action blue-grey darken-3">
                        <a href="#">Voir tout les articles</a>
                    </div>
                </div>
            </div>
            <div class="col s3 offset-s1">
                <div class="card blue-grey darken-1">
                    <div class="card-content whi-yel-text">
                        <span class="card-title">Elèves</span>
                        <ul>
                            <li>
                                <p>Thomas as done [FICHE_TITLE]</p>
                            </li>
                            <li>
                                <p>Romain as done [FICHE_TITLE]</p>
                            </li>
                            <li>
                                <p>Sarah as done [FICHE_TITLE]</p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action blue-grey darken-3">
                        <a href="#">Voir tous les élèves</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mgt50" ng-hide="home.isTeacher">
        <div class="row">
            <div class="col xl11 offset-xl1">
                <div class="card blue-grey darken-1 whi-yel-text center-align">
                    <div class="card-content white-text">
                        <span class="card-title">Statistiques</span>
                        <h2 class="">[{home.datas.total}]%</h2><p class="flow-text"> de bonne(s) réponse(s) !</p>
                        <div class="divider mgt20"></div>
                        <h2 class="">[{home.datas.nb}]</h2><p class="flow-text"> fiche(s) complétée(s) !</p>
                    </div>
                    <div class="card-action blue-grey darken-3">
                        <a href="/platform/qcm/all">Voir les fiches</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
