<ul id="slide-out" class="side-nav fixed blue-grey darken-3 whi-yel-text" ng-controller="navController as nav" ng-show="nav.logged">
    <div class="row borderCenter">
        <div class="col s10 offset-s1 mgt50">
            <h4>E-Lycee</h4>
            <p class="bold">Bienvenue <strong class="user-bold">[{nav.logged.username}]</strong></p>
            <p class="myblue-text">Role :<strong class="user-bold"> [{nav.logged.role}]</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <p class="nav-title">Menu</p>
        </div>
    </div>
    <li ng-class="nav.getClass('/home')" >
        <a class="whi-yel-text" href="/platform/home">
            <i class="whi-yel-text tiny material-icons">home</i>
            Dashboard
        </a>
    </li>
    <li ng-show="nav.isTeacher" ng-class="nav.getClass('/users')">
        <a class="whi-yel-text" href="student.html">
            <i class="whi-yel-text tiny material-icons">person</i>
            Elèves
        </a>
    </li>
    <li ng-class="nav.getClass('/qcm')">
        <a class="whi-yel-text" href="/platform/qcm/all">
            <i class="whi-yel-text tiny material-icons">list</i>
            Fiches
        </a>
    </li>
    <li ng-class="nav.getClass('/posts')" ng-show="nav.isTeacher">
        <a class="whi-yel-text" href="posts.html">
            <i class="whi-yel-text tiny material-icons">insert_photo</i>
            Actualités
        </a>
    </li>
    <li><a class="myblue-text" ng-click="nav.logout();"><i class="myblue-text tiny material-icons">power_settings_new</i>Log Out</a></li>
</ul>
